
.header {
    background-color: #4a4e69;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
}

.title {
    color: #f9fafb;
    font-size: 32px;
    font-weight: bold;
}

.links {
    display: flex;
}

.button {
    background-color: #ff6b6b;
    color: #f9fafb;
    padding: 12px 24px;
    border: none;
    border-radius: 32px;
    margin-left: 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #ff4d4d;
}

.userInfo {
    display: flex;
    align-items: center;
}

.username {
    color: #f9fafb;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.username::after {
    content: ':';
    margin-left: 8px;
    font-size: 24px;
}