.container {
    height: 100vh;
}

.background {
    background-image: url(https://free-images.com/or/b276/time_address_book_communication.jpg);
    background-repeat: no-repeat;
    background-color: #f6f6f6;
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
}

.avatar {
    margin: 8px;
    background-color: #ff6b81;
}

.title {
    margin: 8px 0;
    color: #333333;
}

.form {
    width: 100%;
    margin-top: 8px;
}

.submitButton {
    margin: 24px 0;
    background-color: #ff6b81;
    color: #ffffff;
}