
.container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 16px;
}

.title::before,
.title::after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background-color: #cccccc;
    margin: 0 12px;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 18px;
    color: #333333;
    margin-bottom: 8px;
}

.input {
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 16px;
    width: 95%;
}

.input-group {
    display: flex;
    gap: 8px;
}

.input-group>.input {
    flex-grow: 1;
    margin: 0;
    max-width: calc(50% - 4px);
    /* Adjust the max-width value as needed */
}

.button {
    background-color: #ff6b6b;
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #ff4d4d;
}

.link {
    color: #666666;
    text-decoration: underline;
}

.link:hover {
    color: #333333;
}